{
  "presets": ["next/babel"],
  "env": {
    "test": {
      "presets": [["env", { "modules": "commonjs" }], "next/babel"]
    }
  },
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ]
  ]
}
